/* Establecer el color de fondo de toda la página */
body {
    background-color: #f0f0f0; /* Fondo gris claro */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.jonatan-background {
    background-image: url('/static/App1/images/jonatan_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.message {
    font-weight: 600;
    color: #000000; /* Letras negras */
}

.navbar {
    background-color: #ffffff; /* Fondo blanco */
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000; /* Letras negras */
    padding: 8px 5px 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    border: 2px solid #000000; /* Borde negro alrededor de toda la navbar */
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px; /* Espaciado interno */
    border-right: 1px solid #000000; /* División entre elementos */
}

.navbar a:last-child {
    border-right: none; /* Quitar la división del último elemento */
}

.navbar a:hover {
    background-color: #e0e0e0; /* Fondo gris más oscuro al pasar el ratón */
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 45px; /* Ajusta la altura de la imagen según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el borde derecho */
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 30px; /* Espacio entre los enlaces */
}

.navbar-item {
    font-size: 1.6em;
    font-variant: small-caps;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 80%;
}

.message_list th, td {
    text-align: left;
    padding-right: 15px;
}

/* Estilo para el contenedor de estaciones */
.stations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo para cada tarjeta de estación */
.station-card {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #000000; /* Márgenes negros */
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #000000; /* Letras negras */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.station-card:hover {
    background-color: #e0e0e0; /* Fondo gris más oscuro al pasar el ratón */
}

.station-card.completed {
    background-color: #28a745; /* Verde */
    color: white;
}

.station-card.not-completed {
    background-color: #fad637; /* amarillo*/
    color: rgb(0, 0, 0);
}

/* Estilo para la tabla */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff; /* Fondo blanco */
}

.styled-table th, .styled-table td {
    border: 1px solid #000000; /* Bordes negros */
    padding: 10px;
    text-align: left;
}

.styled-table th {
    background-color: #e0e0e0; /* Fondo gris más oscuro para el encabezado */
}

.styled-table td a.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.styled-table td a.button:hover {
    background-color: #0056b3;
}

.styled-table tbody tr:hover {
    background-color: #f0f8ff; /* Cambia el color de fondo al pasar el ratón */
    cursor: pointer; /* Cambia el cursor a un puntero */
}

/* Deshabilitar el hover para las filas de la checklist */
.styled-table tbody tr.checklist-row:hover {
    background-color: inherit; /* Mantener el color de fondo original */
    cursor: default; /* Cambiar el cursor a predeterminado */
}

/* Estilo para la tabla del checklist */
.checklist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.checklist-table th, .checklist-table td {
    border: 1px solid #000; /* Bordes negros */
    padding: 10px;
    text-align: left;
}

.checklist-table th {
    background-color: #f0f0f0; /* Fondo gris claro para el encabezado */
}

.checklist-table td {
    vertical-align: middle; /* Alinea verticalmente el contenido */
}

.checklist-table input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

/* Estilo para el formulario de mantenimiento */
.maintenance-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.maintenance-form input[type="text"],
.maintenance-form textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.maintenance-form Select{
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.maintenance-form textarea {
    width: 100%;
    height: 150px; /* Altura del cuadro de texto de comentarios */
    border: 1px solid #000000;
}

.maintenance-form button {
    padding: 10px 300px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.maintenance-form button:hover {
    background-color: #0056b3;
}

.styled-history-form {
    width: 30%; /* Ajustar el ancho del formulario */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reducir el espacio entre las cajas de texto */
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #ffffff; /* Fondo blanco */
}

.styled-history-form button {
    width: 40%;
    padding: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #ffffff; /* Fondo blanco */
}

.styled-history-form .form-control {
    width: 30%; /* Ajustar el ancho de las cajas de texto */
    padding: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #ffffff; /* Fondo blanco */
}

.styled-history-form .week-number,
.styled-history-form .year,
.styled-history-form .estacion,
.styled-history-form .familia {
    width: 100%; /* Ajustar el ancho de las cajas de texto */
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #ffffff; /* Fondo blanco */
}

.Product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Product-card {
    background-color: #f8f9fa; /* Fondo gris claro */
    border: 1px solid black; /* Márgenes negros */
    padding: 1px;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Añadir margen superior */
    font-size: 1.6em; /* Tamaño de letra */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fondo amarillo para tarjetas incompletas */
.yellow-card {
    background-color: #fad637; /* Amarillo */
    color: black;
}

/* Fondo verde para tarjetas completas */
.green-card {
    background-color: #28a745; /* Verde */
    color: white;
}

.form-check-input {
    width: 25px; /* Aumenta el tamaño del cuadro */
    height: 25px; /* Aumenta el tamaño del cuadro */
    margin-right: 10px; /* Espacio entre el cuadro y el texto */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.form-check-label {
    font-size: 1.2rem; /* Ajusta el tamaño del texto si es necesario */
    vertical-align: middle; /* Alinea verticalmente con el cuadro */
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

/* Estilos para el contenedor del registro */
.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título del formulario */
.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos para el formulario */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Botón de registro */
.register-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Estilos para los campos del formulario */
.register-form input, .register-form select, .register-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para los mensajes de error */
.register-container .errorlist {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}
